<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="timeline.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">

    <title>Shailesh Pinnamchetty</title>

  </head>
  <body>
<div class="timeline-container">
  <div class="timeline">
    <ul>
      <li>
        <div class="timeline-content">
          <h3 class="date">20th may, 2010</h3>
          <h1>Heading 1</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h3 class="date">20th may, 2010</h3>
          <h1>Heading 2</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h3 class="date">20th may, 2010</h3>
          <h1>Heading 3</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h3 class="date">20th may, 2010</h3>
          <h1>Heading 4</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
    </body>
</html>