{% extends "base.html" %}
{% block content %}
<div class="section-div">
<section class="sections">
    <h2>01</h2>
    <h3>Morgan Stanley</h3>
    <h4>Feb 2021 - Present</h4>
    <ul class="bullet-points">
        <li>Responsible for helping drive the Morgan Stanley Wealth Management Technology Digital Monitoring Transformation Strategy</li>
        <li>Participating in the design, development, configuration, integration, testing, implementation, documentation and support of synthetic monitoring scripts and tools to manage the availability and performance of critical Wealth Management applications and the supporting infrastructure</li>
        <li>Partnering with DevOps and SRE teams to gather requirements, authoring of stories in Jira, solution engineering, automation development, implementation of capabilities, and ensure alignment to value with focus on improving stability and performance</li>
        <li>Serving in the role of technical subject matter expert and solution architect, driving synthetic monitoring solutions</li>
    </ul>
    </section>
<section class="sections">
    <h2>02</h2>
    <h3>Larsen & Toubro Infotech</h3>
    <h4>Dec 2016 - Feb 2021</h4>
    <ul class="bullet-points">
        <li>Involved in automating the end-to-end regression suite using Python for backend applications</li>
        <li>Developed test automation framework using TestNG and Selenium WebDriver</li>
        <li>Integrated the tests with Jenkins for nightly execution</li>
        <li>Performed analysis of test reports sent through emails by Jenkins builds</li>
        <li>Extensively worked on Sybase ASE for database level validations</li>
        <li>Written complex SQL queries to verify data correctness</li>
        <li>Independently developed multiple automation utilities to ease BAU testing tasks</li>
        <li>Worked closely with project owners, developers and BAs to develop thorough test suites</li>
        <li>Developed test strategies, test plan/design along with detailed test cases</li>
        <li>Executed test cases and ensured proper defect management</li>
        <li>Identified and created issues and bugs based on the user stories and tracked the issues until closure by means of manual and automated verification in JIRA portal</li>
        <li>Involved in actively communicating and managing expectations of the senior management team and all the stakeholders right from planning until roll-out of project releases</li>
    </ul>
</section>
<section class="sections">
    <h2>03</h2>
    <h3>Miles Software Solutions Pvt. Ltd.</h3>
    <h4>Dec 2015 - Nov 2016</h4>
    <ul class="bullet-points">
        <li>Performed requirement study to understand the application and the business requirements</li>
        <li>Participated in Test Plan reviews with business analysts and development team</li>
        <li>Involved in preparation and execution of functional and regression test cases</li>
        <li>Hands on experience in smoke, sanity, compatibility, functional, regression, ad-hoc and acceptance testing</li>
        <li>Generated defect reports for various issues and bugs encountered during testing</li>
        <li>Involved in reporting the daily test status reports and discussing the same in daily SCRUM meetings</li>
      </ul>
</section>
<section class="sections">
    <h2>04</h2>
    <h3>Syntel Pvt. Ltd.</h3>
    <h4>Sept 2013 - Nov 2015</h4>
    <ul class="bullet-points">
        <li>Daily activities included analyzing business requirements and understanding the functional specifications</li>
        <li>Experience in testing of handheld mobile barcode scanner devices used by courier delivery firms</li>
        <li>Developing test plans and test cases based on the requirements</li>
        <li>Executing the test cases and logging and tracking the defects in HP ALM</li>
        <li>Involved in Functional, Regression and System testing</li>
      </ul>
</section>
</div>
{% endblock %}