<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <!--<link rel="stylesheet" type="text/css" href="../components/templates/components/timeline.css">-->
    <!--<link rel="preconnect" href="https://fonts.gstatic.com">-->
    <!--<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">-->

    <title>Shailesh Pinnamchetty</title>

  </head>
  <body>
    <!--<div class="top-bar" id="nav-bar-id">-->
    <!--<a class="nav-link active" href="{{ url_for('index') }}">Home</a>-->
    <!--<a class="nav-link" href="{{ url_for('components.about_me') }}">About me</a>-->
    <!--<a class="nav-link" href="{{ url_for('components.work_timeline') }}">Work history</a>-->
    <!--<a class="nav-link" href="{{ url_for('components.addMessage') }}">Contact</a>-->
    <!--</div>-->
    {% block content %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../static/mainjs.js"></script>
  </body>
</html>
